<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<header>
    <div class="box-logo">
        <div class="logo"><img src="/images/logo-mercado-liebre.svg" alt="Logo"></div>
        <div class="box-busqueda">
            <form action="">
                <input type="text" class="barraBusqueda" name="buscar" placeholder= "Buscar productos, marcas">
                <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
            </form>
    </div>
    
 
        <p class="compra-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>


        
    </div>

    <nav>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="" >Ayuda</a></li>
        </ul>
       <ul>
           <li><a href="/register"class="ayuda">Creá tu cuenta</a><a href=""><i class="far fa-id-card"></i></a></li> 
           <li><a href="/login">Ingresá</a><a href=""><i class="fas fa-sign-in-alt"></i></a></li>
           <li><a href="" class="mis-compras">Mis compras</a><a href=""><i class="fas fa-shopping-basket"></i></a></li>
        
       </ul>
    </nav>

    <div class="burger-menu">
        <a href=""><i class="fas fa-bars"></i></a>
        </div>
</header>
<body class="register-login">
<div class="contenedor">
    <h1>Ingresa!</h1>
    <form action="">
       
        <div class="container-input">
            <input class="texto" type="text" placeholder="Nombre de usuari@" name="userName">
        </div>
       
<!--contraseña-->

            <div class="container-input">
                <input class="texto" type="password"  name="pass" placeholder="Contraseña">
                </div>
                
                    <!--botones-->
                    <div class="container-buttons">
                        <button class="btn-verde" type="submit">Ingresar</button>

                    </div>

    </form>

</div>
</main>

<footer class="footer">
    <section>
        <article>
    <a href="" class="iconos-footer"><i class="fas fa-credit-card"></i></a>
    <h5>Pagá con tarjeta o en efectivo</h5>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
</article>

    <article>
       <a href="" class="iconos-footer"><i class="fas fa-gift"></i></a>
        <h5>Envío gratis desde $ 2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </article>

    <article>
        <a href="" class="iconos-footer"><i class="fas fa-user-shield"></i></a>
        <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </article>
    <p class="info-mercadoliebre">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</section>
</footer>
</body>
</html>
