.footer{
    text-align: center;
    background-color: #fff;
    margin: 10px;
}
.footer section article a.iconos-footer{
    color: var(--colorCeleste);
    font-size: 2em;
}

.footer section article h5{
    color: var(--colorGrisOscuro);
    margin-top: 10px;
    font-size: 16px;
}
.footer section article p{
    font-size: 12px;
    color: var(--colorGrisOscuro);
    margin: 0px 30px 60px;
    
}
.footer section p.info-mercadoliebre{
    text-align: left;
    font-size: 12px;
    color: var(--colorGrisOscuro);
}
