header{
    background-color: var(--colorAmarillo);
    width: 100%;
   
}
header .box-logo{
    width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding-top: 20px;

}

header .box-logo .logo{
    width: 32%;
    padding-bottom: 10px;
    padding-left: 10px;
}


header .box-logo .box-busqueda{
    width: 67%;
  
   
}
header .box-logo .box-busqueda form{
    width: 98%;
    display: flex;
}
header .box-logo .box-busqueda input{
  border-radius: 5px 0 0 5px;
  padding: 10px;
  flex-grow: 1;
 
}

header .box-logo .box-busqueda  .lupa{
    background-color: #fff;
    color: #666;
    border-radius: 0 5px 5px 0;
    padding: 10px 5px;
   display: flex;
   align-items: center;
    
}

.home header p.compra-cuotas{
width: 100%;
text-align: center;
margin: 20px 0;
  
}

div p{
    display: inline-block;
    font-size: 12px;
}
header nav{
    display: none;
}
nav ul li a{
    font-size: 12px;
    padding-right: 3px;
}

div.burger-menu{
    text-align: center;
     
}

div.burger-menu a i{
  width: 40px;
    padding: 10px;
    background-color: var(--colorCeleste);
    color: #ebebeb;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
   
}

@media (min-width: 768px) {
    header{
        width: 100%;
    }
    header .box-logo .logo{
        width: 33%;
        
    }
    header .box-logo div.box-busqueda{
        width: 33%;
    }
  
    .home header p.compra-cuotas{
        width: 33%;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;  
    }
    header nav ul li{
        margin: 0 6px;
    }

    header .mano{
        padding-left: 90px;
    }
    header div.burger-menu{
        display: none;  
    }
}

@media (min-width: 1024px) {


}