.home div.banner{
    width: 100%;
}

.home main {
    width: 90%;
    margin: 0 auto;
}

.home main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;     
}

.home main div.titulos{
    color: var(--colorGrisOscuro);
    width: 100%;
}

.home main section article.articulos{
    margin: 10px 0;
    background-color: #ffff;
}

.home main section article div.descripcion{
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    position: relative;
}
.home main section article div.descripcion div.box-descuento{
   display: flex;
   flex-wrap: wrap;
 }

.home main section article div.descripcion div.box-descuento p.precio{
   font-size: 18px;
  flex-grow: 0.3;
}

.home main section article div.descripcion div.box-descuento p.descuento{
    font-size: 16px;
    color: var(--colorVerde);
    flex-grow: 0.7;
    
 }

 .home main section article div.descripcion h3{
    font-size: 16px;
    font-weight: 400;
    display: none;
 }

.home main section article .icono-envio i{
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    display: block;
    width: 30px;   
    height: 30px; 
    background-color: #ffff;
    position: absolute;
    right: 20px;
    top: -18px;
}


/*Tablet*/

@media (min-width: 768px) {
.home main section article.articulos{
         width: 40%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home main section article div.descripcion h3{
        display: block;
      }
}

@media (min-width: 1024px){
    .home main section article.articulos{
        width: 20%;
        
    }
}

